extends layout
block stylesheets
  link(rel='stylesheet', href='/stylesheets/game.css')
  link(rel='stylesheet', href='/stylesheets/button.css')
  link(rel='stylesheet', href='/stylesheets/rating.min.css')
block require
  script(type='text/javascript', src='/javascripts/lib/require.js', charset='utf-8', data-main='/javascripts/app')
block content
  a#fork-me(href='https://github.com/icyse/gamejs', target='_blank')
    img(src='/images/fork-me-on-github.png', alt='Fork me on Github')
  canvas#viewport Canvas not supported
  div#overlayDiv.overlay
    div.header-title GameJs
    div#selectGamesDiv
      div.select-title Select Space
      div.button.black(data-gameid='0')
        div.shine
        span.new-game 创建新游戏
      for item in gameServers
        - var available = Math.floor(item.player_count/item.player_limit*5)
        div.button.black(data-gameid='#{item.gameid}')
          div.shine
          div.ui.large.rating
            i(class='icon#{available-- > 0 ? " active" : ""}')
            i(class='icon#{available-- > 0 ? " active" : ""}')
            i(class='icon#{available-- > 0 ? " active" : ""}')
            i(class='icon#{available-- > 0 ? " active" : ""}')
            i(class='icon#{available-- > 0 ? " active" : ""}')
    div#progressbar.progressbar
      span#expand.expand
  audio#manAtWar(preload='auto')
    source(src='/sounds/ManAtArms.mp3', type='audio/mp3')
    source(src='/sounds/ManAtArms.ogg', type='audio/ogg')
  audio#shoot2(preload='auto')
    source(src='/sounds/shoot2.mp3', type='audio/mp3')
    source(src='/sounds/shoot2.ogg', type='audio/ogg')
  audio#enemy-bomb(preload='auto')
    source(src='/sounds/pewpew3.wav.mp3', type='audio/mp3')
  audio#player-explosion(preload='auto')
    source(src='/sounds/bigboom.mp3', type='audio/mp3')
  audio#enemy-hit(preload='auto')
    source(src='/sounds/hiss1.wav.mp3', type='audio/mp3')
  audio#enemy-bomb1(preload='auto')
    source(src='/sounds/explosion1.mp3', type='audio/mp3')
  audio#enemy-bomb2(preload='auto')
    source(src='/sounds/explosion2.mp3', type='audio/mp3')
  audio#enemy-bomb3(preload='auto')
    source(src='/sounds/explosion3.mp3', type='audio/mp3')
  audio#enemy-bomb4(preload='auto')
    source(src='/sounds/explosion4.mp3', type='audio/mp3')
block javascripts
  script(type='text/javascript', src='/javascripts/game/dat.gui.min.js', charset='utf-8')
  script(type='text/javascript', src='/javascripts/game/mathlib-min.js', charset='utf-8')
  script(type='text/javascript', src='/javascripts/game/animationFrame.js', charset='utf-8')
  script(type='text/javascript', src='/javascripts/game/k3d-min.js', charset='utf-8')